*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body{
    font-family: monospace !important;
} */

.flex{
    display: flex;
}

.flexx{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: block !important;
    width: 28%;
    height: 100vh;
    position: fixed;
    background-color: #f2f3f7;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 5%;
    transition: 0.5s;
    overflow: hidden;
}
.show{
    display: none;
}

#my-name{
    display: block;
    font-size: 2em;
    text-align: center;
    color: #000;
    margin-top: 5%;
    margin-bottom: 0;
    padding-right: 0.3em;
}

#photo{
    border-radius: 50%;
    width: 80%;
    height: 40vh;
    margin: 0 13%;
    margin-bottom: 0;
    
}

#hello{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 1rem;
}
.hello{
    width: 80%;
    margin: 0 10%;
}

ul li{
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    font-size: .9em;
    padding: 2%;
}
ul{
    padding-left: 5%;
    width: 85%;
}

li a{
    color: black;
    text-decoration: none;
}
p a {
    text-decoration: none;
}
li a.active{
    color: grey;
    color: blue;
}

li a:hover{
    color: grey;
}


.skills{
    width: 60vw;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 1.1em;
}

/* .specialize{
} */
#specialize{
    letter-spacing: 1px;
}

.headings{
    font-size: 1.7em;
    margin-top: 5%;
}
hr{
    width: 100%;
    background-color: #9398af !important;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.box{
    width: 150px;
    height: 150px;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
    padding: 7% 5%;
    background-color: #f2f3f7;
}


.frontendmentor{
    color: grey;
    margin-bottom: 2%;
}

.frontendmentor a{
    /* text-decoration: none; */
    color: grey;
}
.frontendmentor a:hover{
    color: black;
}

.grid img{
    width: 50%;
    
}

.p{
    margin-top: 7%;
    font-size: 1em;
    background-color: #f2f3f7;
    padding: 5% ;
}

.bold{
    font-size: 1em;
}

p span{
    color: grey;
    font-size: 1em;
}

.h{
    font-size: 1.2em;
}
.t{
    color: blue;
}

.div{
    border-left: 3px solid #f2f3f7;
    padding-left: 7%;
}

#contact{
    margin-bottom: 10%;
}

@media screen and (max-width:720px) and (min-width:500px) {
    .skills {
        width: 100vw;
        padding-left: 2%;
        padding-right: 5%;
        padding-top: 5%;
        font-size: 1.1em;
    }
    .navbar{
        display: none !important;
        width: 28%;
        height: 100vh;
        position: fixed;
        background-color: #f2f3f7;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-left: 5%;
        transition: 0.5s;
        overflow: hidden;
    }
    /* .show{
        display: block !important;
    } */

    .box {
        width: 150px !important;
        height: 150px !important;
        margin-right: 2%;
        margin-bottom: 2%;
        text-align: center;
        padding: 5%;
        background-color: #f2f3f7;
    }
}